/* CSS Document */

.doc_display {
	background-color: transparent;
	position: relative;
	padding: 5px;
	width : 120px;
	border : 0px red solid;
	margin: 30px 0px 0 0px;
	float: left;
	color: #00516b;
	text-align: center;
	min-height: 180px;
	font-size: 12px;
}
.folder_display {
	background-color: transparent;
	padding: 5px;
	width : 155px; /* 120px */
	border : 0px blue solid;
	vertical-align: top;
	position: relative;
	margin: 30px 0px 0px 0px;
	float: left;
	color: #00516b;
	text-align: center;
	min-height: 160px;
	font-size: 14px;
}
.folder_no_pic {
	margin: 50px 0 0 0;
	text-align: left;
	color: #00a3db;
	font-size: 30px;
}
.stop_float {
	clear: both;
}
.folder_banner_display {
	position: relative;
	border : 0px red solid;
	padding: 20px;
}
.folder_description {
	position: relative;
	border : 0px green solid;
	color: #00516b;
}


@media screen and (max-width:900px) {
.folder_banner_display {
	position: relative;
	border : 0px red solid;
	padding: 20px;
}
	
}
