/* CSS Document */
@-webkit-keyframes mouvement_button
{
	from
	{
		bottom: -200px;
		/* opacity: 0; */
	}
	to
	{
		bottom: 0px;
		/* opacity: 1; */
	}
}

/* --------------------------------------------------------------------- BOUTONS -----------------------*/
button{
	border: 0;
	border-radius : 3px;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	display: inline;
	position:relative;
	overflow: hidden;
}
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- DEBUT */
.bouton_gros{
	font-size: 15px;
	padding: 10px 15px;
	transition: all 0.5s;
}
.bouton_gros span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.bouton_gros span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.bouton_gros:hover span {
  padding-right: 25px;
}
.bouton_gros:hover span:after {
  opacity: 1;
  right: 0;
}
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* FIN */



/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- DEBUT */
.bouton_petit{
	font-size: 15px;
	padding: 2px 10px;
	transition: all 0.5s;
}
.bouton_petit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.bouton_petit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.bouton_petit:hover span {
  padding-right: 25px;
}
.bouton_petit:hover span:after {
  opacity: 1;
  right: 0;
}
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* FIN */

.bouton_orange{
	background-color: #fc6e1c;
	color: white;
}
.bouton_cyan{
	background-color: #00ccff;
	color: white;
}
.bouton_transparent{
	background-color: transparent;
	color: white;
	border : 1px white solid;
}
.bouton_bleu{
	background-color: #2b3d4c;
	color: white;
	border : 1px white solid;
}
/* ------------------------------------------------------------------------------------------------------*/


/* ------------------------------------------------------------------------ INPUT -----------------------*/
.input_text_gros{
	background-color: #F2F2F2;
	font-size: 15px;
	border: 0;
	border-radius : 3px;
	color : #ABABAB;
	padding: 10px 15px;
	font-family: 'Poppins', sans-serif;
	display: inline;
	margin: 0 0 10px 0;
	width: 200px;
}
.input_select
{
	background-color: #F2F2F2;
	font-size: 15px;
	border: 0;
	border-radius : 3px;
	color : #ABABAB;
	font-family: 'Poppins', sans-serif;
	display: inline;
	margin: 0 0 10px 0;
	width:225px;
	height: 25px;
}
.input_textarea
{
	background-color: #F2F2F2;
	font-size: 15px;
	border: 0;
	border-radius : 3px;
	color : #ABABAB;
	padding: 10px 15px;
	font-family: 'Poppins', sans-serif;
	display: inline;
	margin: 0 0 10px 0;
	width:200px;
	height: 200px;
}
/* ------------------------------------------------------------------------------------------------------*/


@media screen and (max-width:900px) {
	
	
.input_text_gros{
	background-color: #F2F2F2;
	font-size: 15px;
	border: 0;
	border-radius : 3px;
	color : #ABABAB;
	padding: 10px 15px;
	font-family: 'Poppins', sans-serif;
	display: block;
	width: 100%;
	margin : 10px 0;
}
.input_select
{
	background-color: #F2F2F2;
	font-size: 15px;
	border: 0;
	border-radius : 3px;
	color : #ABABAB;
	font-family: 'Poppins', sans-serif;
	display: inline;
	margin: 0 0 10px 0;
	width:100%;
	height: 25px;
}
.input_textarea
{
	background-color: #F2F2F2;
	font-size: 15px;
	border: 0;
	border-radius : 3px;
	color : #ABABAB;
	padding: 10px 15px;
	font-family: 'Poppins', sans-serif;
	display: inline;
	margin: 0 0 10px 0;
	width:100%;
	height: 200px;
}	
}

