/* CSS Document */


html, body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFFFFF;
	font-size: 100%;
	/* background-image: url(../images/bg.png); */
	background-repeat: no-repeat;
	background-size: auto;
}

h1 {
	font-size: 200%;
	color: navy;
	text-align: center;
}
h2 {
	font-size: 150%;
	color: red;
	padding-left: 15px;
}
p, ul, li, td {
	color: black;
}
a:link {
	text-decoration: none;
	color: #00516b;
}
a:visited {
	text-decoration: none;
	color: #00516b;
}
a:hover {
	text-decoration: none;
	color: #00516b;
}
a:active, a:focus {
	color: red;
}
.page{
	min-height: 1000px;
}
.bandeau_header{
	background-color: #00a3db;
	height: 50px;
	position: fixed;
	width: 100%;
	padding: 10px;
	margin: 0;
	box-shadow: 0px 0.5px 8px 0.1px #000000;
	z-index: 10;
}
.logo_header{
	position: relative;
	margin: o auto;
	height: 45px;
}
.login_panel{
	position: relative;
	text-align: center;
	width: 800px;
	margin: 0 auto;
	top:0px;
	background-color: transparent;
}
.download{
	position: relative;
	text-align: center;
	width: 800px;
	margin: 120px auto;
	top:0px;
	background-color: transparent;
}
.download_text{
	font-size: 50px;
	color: #00516b;
}
.download_ios{
		display: inline-block;
}
.download_android{
		display: inline-block;
}
.content{
	width: 85%;
	text-align: left;
	position: relative;
	padding: 70px;
	margin: 0 auto; 
	top : 50px;
	background-color: white;
	border-radius: 5px;
}
.lien1{
	color: white;
}
.text_blanc{
	color : white;
}
.title_page
{
	text-align: center;
	padding: 0;
	position: absolute;
	margin: 0 auto;
	left : 200px;
	top:60px;
	color: #00516b;
	font-size: 45px;
}
.visuel_appli{
	position: relative;
	width: 100%;
	bottom: 0;
}

@media screen and (max-width:900px) {

	body {
	margin: 0;
	padding: 0px;
	}
	.content{
		width: 100%;
		padding: 50px 10px 10px 0;
		margin: 0px 0 0 0;
	}
	
.login_panel{
	width:98%;
	position: relative;
	text-align: center;
	padding: 0px;
	margin: 0 0 0 -10px;
	top:180px;
	background-color: transparent;
}
.download{
	top:280px;
	width: 100%;


	
	
	}
	.download_text{
	font-size: 50px;
	color: #00516b;
}
.download_ios{
		display: block;
}
.download_android{
		display: block;
}
}